@using EntityLayer.Concrete
@model List<AppRole>

@{
	ViewData["Title"] = "Roller";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	int count = 0;
}
<br />
<span class="text-uppercase page-subtitle">Roller</span>
<br />
<br />
<div class="row">
	<div class="col">
		<div class="card card-small mb-4">
			<div class="card-header border-bottom">
				<h6 class="m-0">Aktif Roller</h6>
			</div>
			<div class="card-body p-0 pb-2 text-center">
				<table class="table mb-0">
					<thead class="bg-light">
						<tr>
							<th scope="col" class="border-0">#</th>
							<th scope="col" class="border-0">Rol Adı</th>
							<th scope="col" class="border-0">Rolü Sil</th>
							<th scope="col" class="border-0">Rolü Güncelle</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							count++;
							<tr>
								<td>@count</td>
								<td>@item.Name</td>
								<td>
									<button class="btn btn-outline-danger"
											data-toggle="modal"
											data-target="#deleteModal"
											onclick="setDeleteRoleData('@item.Id', '@item.Name')">
										Rolü Sil
									</button>
								</td>
								<td>
									<a href="#"
									   class="btn btn-outline-warning"
									   onclick="confirmEdit('@item.Id', '@item.Name')">Rolü Güncelle</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<a href="/Admin/Role/CreateRole/" class="btn btn-outline-primary">Rol Ekle</a>
<!-- Modal for Confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Rolü Sil</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="deleteModalBody"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
				<button type="button" class="btn btn-danger" id="confirmDeleteBtn">Sil</button>
			</div>
		</div>
	</div>
</div>

<!-- JavaScript for setting the modal data and handling delete confirmation -->
<script type="text/javascript">
	function setDeleteRoleData(roleId, roleName) {
		// Rol adını modal penceresinde göster
		document.getElementById('deleteModalBody').innerText = roleName + " rolünü silmek istediğinize emin misiniz?";

		// Sil butonuna basıldığında yönlendirme yap
		document.getElementById('confirmDeleteBtn').onclick = function () {
			if (roleId <= 3) {
				alert(roleName + ' rolü silinemez!');
				$('#deleteModal').modal('hide'); // Modal'ı kapat
			} else {
				window.location.href = '/Admin/Role/DeleteRole/' + roleId;
			}
		};
	}
	function confirmEdit(roleId, roleName) {
		// Eğer rol ID'si 3'ten küçükse güncellemeye izin verme
		if (roleId <= 3) {
			alert(roleName + ' rolü güncellenemez!');
		} else {
			window.location.href = '/Admin/Role/EditRole/' + roleId;
		}
	}
</script>
